* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    padding: 30px 40px;
}

h2 {
    text-align: center;
}

.formControl {
    margin-bottom:10px;
    padding-bottom: 20px;
    position: relative;
}

.formControl label {
    color: #777777;
    display:block;
    margin-bottom: 5px;
}

.formControl input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.formControl input:focus {
    outline: 0;
    border-color: #777777;
}

.formControl small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.formControl.success input{
    border-color: #2ecc71;
}

.formControl.error input {
    border-color: #e74c3c;
}